.row-fluid
  .span12
    - comments.each do |comment|
      .comment.well
        .row
          .span2
            %h4.text-center= "#{comment.user.name if comment.user.present?}"
            %br
            .text-center
              = image_tag(comment.user.avatar.large)
          .span10
            %p= simple_format comment.content
