%h3 Membres

%table.table.table-striped
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.created_at.to_date

= link_to "Envoyer une invitation", new_user_invitation_path, class: 'btn btn-success'