.row-fluid
  .span9
    %h2.pull-left Listing torrents
  .span3
    = link_to new_torrent_path, class: 'btn btn-success pull-right' do
      %i.icon-plus-sign
      Ajouter

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th Nom
      %th Utilisateur
      %th Avancement
      %th
  %tbody#torrents-index
    - @torrents.each do |torrent|
      = render :partial => 'torrent', locals: { torrent: torrent}
