%h1 Listing torrents

= link_to new_torrent_path, class: 'btn btn-success' do
  %i.icon-plus-sign
  Ajouter
%br
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th Nom
      %th Utilisateur
      %th{colspan: 2} Avancement
      %th
  %tbody#torrents-index
    - @torrents.each do |torrent|
      = render :partial => 'torrent', locals: { torrent: torrent}
